
/* Creating body design */
body  {
  background-color: lightgray;
}

/* Creating design for title */
h1 {
  text-align: center;
  color: #FF4A2A;
  font-size: 40px;
  text-decoration-line: underline;
}

/* Removing bullet point besides pokemon list buttons */
li {
    list-style-type: none;
}

/* Creating design of pokemon list */
.button-class {
  display:flex;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  color: #2A44FF ;
  font-family: 'Chilanka', cursive;
  padding: 60px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 20px;
  text-align: center;
  background-color: #2AFF8B;
  width: 50%;
}

/* Setting default display*/
@supports (display: none) {
  .button-class {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Setting mobile responsivity */
@media all and (max-width: 500px) {
  .button-class {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;

    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 900px){
  .button-class {
    text-align: center;
    margin: auto;
    width: 75%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    /* font-size: 30px; */
  }
}
@media all and (max-width: 900px) {
  .pokemon-list {
    display: grid;
    text-align: center;
    margin:auto;
    grid-gap: 10px;
  }
}
