/*
Body Background Color (Dark Red): #800700
Header 1 Text Color (Yellow): #F6A80B
Buttons Background Color (Brown): #672302
Buttons Text Color (Yellow): #F6A80B
*/

/* Created body design */
body  {
  background-color: #800700;
}

/* Created design for title */
h1 {
  text-align: center;
  color: #F6A80B;
  font-size: 75px;
  text-decoration-line: underline;
}

/* Removed bullet point besides pokemon list buttons */
li {
    list-style-type: none;
}

/* Created design of pokemon list */
.button-class {
  display:flex;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  color: #F6A80B ;
  font-family: "Chilanka", cursive;
  padding: 40px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 40px;
  text-align: center;
  background-color: #672302;
  width: 25%;
}

/* Setted default display*/
@supports (display: none) {
  .button-class {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Setted mobile responsivity */
@media all and (max-width: 500px) {
  .button-class {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;

    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 900px){
  .button-class {
    text-align: center;
    margin: auto;
    width: 75%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    /* font-size: 30px; */
  }
}
@media all and (max-width: 900px) {
  .pokemon-list {
    display: grid;
    text-align: center;
    margin:auto;
    grid-gap: 10px;
  }
}
