/*
Body Background Color (White): #FFF;
Header Background color (Salmon): #F16B56;
Title Text Color (Black): #000;
Buttons Background Color (Yellow): #F6A80B;
Buttons Text Color (Black): #000;
*/

/* Created body design */
body  {
  background-color: white;
  margin-top: -5px;
  font-family: 'Varela Round', sans-serif;
}

header {
  background-color: #F16B56;
  margin-left: -10px;
  margin-right: -10px;
}

img {
  margin-top: 10px;
  margin-left: 10px;
}
/* Created design for title */
h1 {
  text-align: center;
  color: #000;
  font-size: 75px;
  text-decoration-line: underline;
}

/* Removed bullet point besides pokemon list buttons */
li {
    list-style-type: none;
}

.input-wrapper {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  min-width: 75px;
}

.error-message {
  color: red;
  font-size: 0.8em;
}

.pokemon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/* Created design of buttons */
.button-class {
  display: block;
  text-align: center;
  font-family: 'Autour One', cursive;
  font-size: 23px;
  color: #000;
  border-color: #56DFF1;
  margin: 20px;
  border-radius: 10px;
  background-color: #F6A80B;
  width: 200px;
  height: 100px;
}
